# ======================
# Windows fájlok / temp
# ======================
Thumbs.db
.DS_Store
desktop.ini
*.tmp
*.log

# ======================
# Python / ROS
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo

# ROS build / log / devel mappák
build/
devel/
log/
*.bag

# ======================
# Arduino / ESP32
# ======================
*.bin
*.elf
*.hex
*.ino.*.cpp
*.cpp.*
*.o
*.d
*.a
*.map
*.cache
*.pio

# ======================
# FreeCAD / CAD / 3D files
# ======================
*.FCStd~          # autosave
*.FCStd           # ha nem akarod a forrást
*.stl
*.step
*.iges
*.obj
*.3mf
*.png
*.jpg
*.bmp
*.svg
*.blend

# ======================
# Obsidian
# ======================
.obsidian/
*.obsidian

# ======================
# IDE / Editor / Temp
# ======================
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# ======================
# Logs / cache / temp
# ======================
*.log
*.cache
*.bak
*.swp
